.container {
    padding: 50px;
}

.table {
    width: 100%;
}
.table th,
.item {
    align-content: center;
}

.no-margin {
    margin-bottom: 0 !important;
}

.tools {
    align-items: center;
}
.edit,
.remove,
.add {
    font-size: 30px;
    margin: 0 5px;
    cursor: pointer;
}
.add {
    color: #198754;
    background-color: #fff;
}
.edit {
    color: brown;
}

.remove {
    color: #848484;
}
.error {
    color: red;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffeeee;
    border-radius: 5px;
    border: 1px solid #ffcccc;
}

.success {
    color: green;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #eeffee;
    border-radius: 5px;
    border: 1px solid #ccffcc;
}

.formTitle {
    margin-bottom: 20px;
    color: var(--dark-red);
}

.form {
    margin-top: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.addButton {
    background-color: var(--dark-red);
    border-color: var(--dark-red);
}

.addButton:hover {
    background-color: #7a1609;
    border-color: #7a1609;
}

.title {
    color: var(--dark-red);
    font-weight: bold;
}
