.table {
    width: 100%;
}
.item {
    align-content: center;
}

.edit,
.remove,
.view,
.print {
    font-size: 30px;
    margin: 0 5px;
    cursor: pointer;
}
.view {
}
.edit {
    color: brown;
}

.remove {
    color: #848484;
}
