.item {
    align-content: center;
}

.no-margin {
    margin-bottom: 0 !important;
}
.tools {
    align-items: center;
}
.edit,
.remove,
.add {
    font-size: 30px;
    margin: 0 5px;
    cursor: pointer;
}
.add {
    color: #198754;
    background-color: #fff;
}
.edit {
    color: brown;
}

.remove {
    color: #848484;
}
.error {
    color: red;
}
