.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-overlay-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: var(--modal-bg);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 90vh;
    display: flex;
    border: 2px solid var(--modal-border); /* Strong border */
    flex-direction: column;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--modal-border);
    background-color: var(--modal-header-bg);
    color: var(--modal-header-text);
}

.modalTitle {
    margin: 0;
    font-size: 1.25rem;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    color: var(--modal-close-icon);
}

.closeButton:hover {
    color: var(--text-color);
}

.modalBody {
    padding: 1rem;
    overflow-y: auto;
}

/* Modal sizes */
.sm {
    width: 300px;
}

.md {
    width: 900px;
}

.lg {
    width: 1000px;
}

.xl {
    width: 1140px;
}

/* RTL support */
[dir="rtl"] .modalHeader {
    flex-direction: row-reverse;
}
