* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
:root {
    --dark-red: #941b0d;
    --dark-yellow: #a1840d;
    --light-yellow: #fee265;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.form-floating[dir="rtl"] > label {
    right: 0;
    left: auto;
}
.form-floating select.form-select {
    padding-top: 3px;
    padding-bottom: 0;
}
