.table {
    width: 100%;
}
.item {
    align-content: center;
}

.edit,
.remove {
    font-size: 30px;
    margin: 0 25px;
    cursor: pointer;
}
.edit {
    color: brown;
}

.remove {
    color: #848484;
}
.remove.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
