.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-overlay-bg);
  opacity: 1; /* Overlay var has opacity handled if rgba, usually. If plain color, opacity needed. Theme has rgba. */
  z-index: 3;
}
.body {
  position: fixed;
  width: 30rem;
  max-width: 80vw;
  left: 50vw;
  min-height: 20rem;
  top: 50vh;
  z-index: 4;
  background-color: var(--background-color);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: translate(-50%,-50%);
  border: 2px solid var(--border-color); /* Strong border */
}

.header {
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 1px 5px;
  padding: 10px;
  text-align: center;
  border-radius: 15px 15px 0 0;
  border-bottom: 2px solid var(--border-color);
  font-weight: var(--font-weight-bold);
}

.message {
  height: auto;
  flex-grow: 2;
  padding: 10px 10px;
}
.actions {
  /* height: 5rem; */
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 20px;
}
.button {
  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  padding: 5px 10px;
  opacity: 0.8;}
.button:hover {
opacity: 1;}
